<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\servicelog\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.read.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
      </layout>
    </appender>

    <!-- 控制台前台显示日志 -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="Info" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>

    <appender name="logAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Logger/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="MailSmtpAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <to value="2698614887@qq.com" />
      <from value="2698614887@qq.com" />
      <username value="2698614887" />
      <password value="tms@123." />
      <subject value="Test Job" />
      <smtpHost value="smtp.qq.com" />
      <port value="25" />
      <bufferSize value="512" />

      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="DEBUG"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />-->
        <param name="Header" value="Test Job:" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%n发送时间：%d %n日志消息：%m %n%n日志对象名称：%c  %n程序从运行到执行到当前语句时消耗的毫秒数:%r %n当前语句所在线程ID：[%t] %n当前日志优先级：%p %n%n" />
      </layout>
    </appender>
    <!--additivity="false"使其不会再重复记录到root日志中-->
    <logger name="Quartz">
      <level value="ERROR" />
      <appender-ref ref="logAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </logger>
    <logger name="MailLog" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="MailSmtpAppender" />
    </logger>

    <root>
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <level value="all" />
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

    <logger name="Logger" additivity="false">
      <level value="INFO" />
      <appender-ref ref="logAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </logger>
  </log4net>
</configuration>